body{
    background-color: rgb(8, 224, 188);
    color: rgb(1, 13, 51);
    }
#redes{
    text-align: center;
    margin: auto;
    }

ul li {
    list-style-type: none;
    margin-left: -4%;
}

.imgPerfil {
    border-radius: 100%;
    border: 5px solid rgb(1, 18, 44) ;
    max-width: 150px;
    
    }

.banner {
justify-content:start;
display: flex;
}

.nombrePerfil{
    font-size: 2rem ;
    color: rgb(3, 43, 104);
}

.mapa {
    padding: 10% ;

}